*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img{
    height: 24px;
    width: 18px;
}

nav{
    margin: 10px 5% 30px 3%;
}

nav h1{
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

body{
    background-color: black;
}

.container{
    color: white;
}

nav a{
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    float: left;
    margin-top: 20px;
}

main a{
    color: white;
    text-decoration: none;
}

.fdiv{
    float: right;
}

main{
    margin: 0 10%;
    text-align: center;
    font-size: 20px;
}

table {
    border-spacing: 5px;
}

table, th {
    border: 1px solid white;
}

th {
    text-align: center;
    padding: 0 20px;
}

.center{
    margin: 50px auto;
}

table.tableizer-table {
    margin: 20px auto;
    border: 1px solid #CCC;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    nav a{
        font-size: 18px;
        margin-bottom: 0px;
    }
    p{
        margin: 0 5%;
    }
}

@media only screen and (max-width: 543px){
    nav a{
        font-size: 18px;
        float: none;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    nav{
        margin-bottom: 50px;
    }
}